*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img { width: 100%;
}

.product{
    width:calc(100%/3);
    position: relative;
    text-align: center;
    float: left;
    margin-bottom: 60px;
    padding: 5px;
}

.discount{
    color: white;
    font-size: 20px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    left: 0;
    margin:5px;
}
.sostenibilita{
    color: white;
    background-color: green;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 50px;
    padding:5px;
}

.cuore{
    font-size: 30px;
    color: black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    margin:5px;
    padding: 5px;
}

.marca{
    font-size: 15px;
    position: absolute;
}

.description{
    font-size: 15px;
    position: absolute;
    margin-top: 20px;
    text-align: left;
}

.price{
    color: red;
    position: absolute;
    margin-top: 50px;
}

.price-cancelled{
    color: rgb(126, 123, 123);
    text-decoration: line-through;
    text-align: left;
}
/* proprietà hover sulla immagini*/
#prima-img:hover{
    content: url(img/1b.webp);
}

#seconda-img:hover{
    content: url(img/2b.webp);
}

#terza-img:hover{
    content: url(img/3b.webp);
}

#quarta-img:hover{
    content: url(img/4b.webp);
}

#quinta-img:hover{
    content: url(img/5b.webp);
}

#sesta-img:hover{
    content: url(img/6b.webp);
}